* {
	padding: 0;
	margin: 0;
	
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
.nav {
	background: #fff;
	box-shadow: 0 5px 10px rgb(68, 71, 76, 0.1);
}
.link-nav {
	background: url("logo-header.png") top center no-repeat;
	min-height: 110px;
}
.nav-items {
	list-style: none;
}
.nav-item {
	float: left;
	text-transform: uppercase;
	font-size: 22px;
	margin-right: 50px;
	font-weight: 500;
	background: transparent;
}
.nav-link {
	transition: all 0.1s;
}
.nav-link:hover, .nav-link.router-link-exact-active {
	padding-bottom: 5px;
	border-bottom: 3px solid #4db2ec;
}
.nav-item a {
	text-decoration: none;
	color: black;
	padding: 0;
}
.hot-new-title {
	margin: 20px 0;
	padding: 5px 50px;
	display: inline-block;
	background: black;
	color: #fff;
	text-align: center;
}
.hot-news-wrapper {
	overflow: hidden;
	margin-bottom: 50px;
	height: auto;
	position: relative;
}
.hot-news {
	height: auto;
	width: 100%;
	object-fit: cover;
	transition: all 0.5s;
}
.hot-news:hover {
	transform: scale(1.02, 1.02);
}
.hot-news-inshort {
	padding-left: 40px;
	padding-right: 0;
	transition: all 0.5s;
}
.hot-news-inshort:hover {
	padding-left: 32px;
	padding-right: 8px;
}
.hot-news, .hot-news-inshort {
	cursor: pointer;
}
.more-new-title-wrap {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}
.more-new-title-wrap:after {
	content: " ";
	width: 100%;
	position: absolute;
    border-bottom: 3px solid black;
    left: 0;
    bottom: 8px;
}
.more-new-title {
	margin-top: 20px;
	padding: 5px 15px;
	display: inline-block;
	background: black;
	color: #fff;
	text-align: center;
}
.footer {
	background: url("https://images.alphacoders.com/909/thumb-1920-909872.jpg") center no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
	margin-top: 100px;
}
.footer-wrapper {
	background: black;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.8;
}
.footer-content {
	color: #fff;
	padding-top: 50px;
	text-align: center;
}
.footer-content h3 {
	font-size: 40px;
	margin-bottom: 30px;
	color: #fff;
}
.footer-content p {
	font-size: 20px;
}
.footer-logo {
	background: url("logo-footer.png") top center no-repeat;
	min-height: 110px;
	position: relative;
	z-index: 999;
}
.footer-line {
	background: #fff;
	height: 1px;
	width: 80%;
	margin: 30px auto 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.news-form {
	width: 55%;
	margin: auto;
	padding-left: 60px;
}
.news-input-wrapper {
	position: relative;
}
.news-input-wrapper:before {
	font-family: FontAwesome;
    font-size: 18px;
    position: absolute;
    top: 14px;
    left: 32px;
}
.news-input-url:before {
	content: "\f08e";
}
.news-input-title:before {
	content: "\f035";
}
.news-input-content:before {
	content: "\f036";
}
.news-input-author:before {
	content: "\f007";
}
.news-input-block:before {
	content: "\f009";
}
.news-input-link:before {
	content: "\f17c";
}
.news-input-image:before {
	content: "\f03e";
}
.news-input-des:before {
	content: "\f0e6";
}
.news-input {
	width: 100%;
	border: none;
	padding: 12px 15px 12px 46px;
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgb(68, 71, 76, 0.3);
	font-size: 18px;
}
.news-input:focus, .live-demo:focus, .customize button:focus {
	outline: none;
}
.live-demo {
	width: 60%;
	margin: auto;
	border-radius: 5px;
	border: none;
	padding: 8px 0;
	box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.1);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.live-demo-area {
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 30px;
	transition: all 0.5s;
}
.pagination {
    margin: auto;
	width: 26%;
}
.customize {
	width: auto;
	box-shadow: 0px 2px 10px rgb(68, 71, 76, 0.5);
	background: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 20px;
	padding-bottom: 0;
	position: fixed;
	z-index: 99;
	top: 180px;
	right: -40px;
	transition: all 0.3s;
	cursor: pointer;
	background-image: linear-gradient(to right top, #b6c9e5, #aacce9, #9dcfeb, #8fd2ea, #82d5e7);
}
.customize:hover {
	right: 0;
	opacity: 1;
}
.customize button {
	background: transparent;
	border: none;
	cursor: pointer;
	display: block;
	margin: 15px 25px 15px 0;
}
.customize span {
	margin: -28px 15px 0 15px;
	background: #75aee5;
	color: #fff;
	padding: 5px;
	position: absolute;
	right: -14px;
	border-radius: 5px;
}
.ln-row-type2 {
	width: 50%;
	float: left;
	height: 420px;
}
.hide-customize {
	opacity: 0;
	right: -100px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99; 
  border: none;
  outline: none;
  background-color: #337ab7;
  color: white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px;
  width: 50px;
  height: 50px;
}

#myBtn:before {
	font-family: FontAwesome;
	content: '\f102 ';
	position: absolute;
	font-size: 30px;
	top: 5px;
	right: 0;
	left: 0;
}

#myBtn:hover {
  background-color: #286090;
}
.loader-wrap {
	background: #fff;
	position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}